.section-social-media {
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  padding: 14px 0;
  position: relative;

  .row {
    @media(min-width: 769px) {
      flex-wrap: nowrap;
      @include flex-align(unset, space-between);
    }

    .col {
      width: 100%;
    }
  }

  .col-content {
    @media(min-width: 769px) {
      max-width: 400px;
      text-align: left;
    }
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;

    .title {
      font-size: 20px;
      color: $font-color-secondary;
      font-weight: bold;
      padding-bottom: 5px;
    }

    p {
      line-height: 145%;
    }

  }


  .col-social-links {
    @include flex-align(center, center);
    @media(min-width: 769px) {
      @include flex-align(center, flex-end);
    }

  }

  .social-links {
    @media(max-width: 768px) {
      flex-wrap: wrap;
      @include flex-align(unset, center);
    }

    a {
      text-decoration: none;
      display: block;
      color: $social-icons-color;
      padding: 5px 16px;
      font-size: 48px;
      @include hover-animation(.3, ease-in-out, 0, spin-scale);

      &:hover {
        color: $font-color-secondary;
      }

      @media(max-width: 1150px) {
        padding: 5px 10px;
        font-size: 34px;
      }
    }
  }

}