.footer {
  text-align: center;
  background: $blue;
  color: #cccccc;
  padding: 15px 0;

  .social-links {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

    @media(max-width: 768px) {
      flex-wrap: wrap;
      justify-content: center;
    }

    a {
      text-decoration: none;
      display: block;
      color: $grey;
      padding: 5px 8px;
      font-size: 24px;
      transition: .3s;

      &:hover {
        color: #fff;
        transform: rotate(360deg) scale(1.5);
      }

      @media(max-width: 1150px) {
        padding: 5px 6px;
        font-size: 20px;
      }
    }
  }

  .copyright {
    padding-top: 5px;
    font-size: 11px;
  }
}