.footer {
  text-align: center;
  background: $blue;
  color: #cccccc;
  padding: 15px 0;

  .social-links {
    @include flex-align(unset, center);

    @media(max-width: 768px) {
      flex-wrap: wrap;
    }

    a {
      text-decoration: none;
      display: block;
      color: $grey;
      padding: 5px 8px;
      font-size: 24px;
      @include hover-animation(.3, ease-in-out, 0, spin-scale);

      &:hover {
        color: #fff;
      }

      @media(max-width: 1150px) {
        padding: 5px 6px;
        font-size: 20px;
      }
    }
  }

  .copyright {
    padding-top: 5px;
    font-size: 11px;
  }
}