body {
  font-size: 14px;
  color: $font-color-1;
  font-family: $font-family-1;
  font-weight: normal;
}

.container {
  margin: 0 auto;
  max-width: 1134px;
  padding: 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;

  .col {
    padding: 0 15px;
  }
}

.section-title {
  font-size: 36px;
  text-transform: uppercase;
  color: $font-color-3;
  font-family: $font-family-2;
  text-align: center;
  position: relative;
  padding-bottom: 34px;
  line-height: 120%;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 64px;
    background: $orange;
  }
}

.content-title {
  color: $font-color-3;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 80px;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 64px;
    background: $orange;
  }
}

.bttn {
  display: inline-block;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  padding: 12px 23px;
  background: $orange;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .1);
  transition: .3s;
  font-weight: 600;

  &:hover {
    background: lighten($orange, 5%);
  }

  &:active {
    transform: translateY(2px);
  }

  &.white {
    border-radius: 0;
    border: 2px solid #fff;
    background: transparent;
    box-shadow: none;
    padding: 0 29px;
    line-height: 38px;

    &:hover {
      background: #fff;
      color: $blue
    }
  }

}