$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Raleway', sans-serif;
$font-color-primary: #86878b;
$font-color-auxiliary: #646464;
$font-color-secondary: #212121;

$blue: #37495e;
$orange: #ff8b38;
$light-grey: #f5f5f5;
$grey: #cccccc;