$font-primary:          "Open Sans", sans-serif;
$font-secondary:        "Raleway", sans-serif;
$font-color-primary:    #86878b;
$font-color-auxiliary:  #646464;
$font-color-secondary:  #212121;
$social-icons-color:    #cccccc;
$input-border-color:    #d6d6d6;
$brand-color-primary:   #37495e;
$brand-color-secondary: #ff8b38;
$section-darker-bg:     #f5f5f5;